@import "tailwindcss";
body {
  background-color: black;
  color: white;
}

@keyframes rainbowText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow {
  background-size: 300% 300%;
  animation: rainbowText 5s ease-in-out infinite;
}
